/* --cyan-process: #5bc0ebff;
--minion-yellow: #fde74cff;
--android-green: #9bc53dff;
--madder-lake: #c3423fff;
--raisin-black: #211a1eff; */

body {
  background-color:aliceblue;
  /* color: #211a1eff; */
}

.container {
  max-width: 1001px;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
}

.content {
  text-align: center;
}

.card-box {
  margin-top: 25px;
  /* width: 1001px; */
}

.active-card {
  background-color: rgba(253, 232, 76, 0.637) !important;
  width: 13rem;
}

.deaths-card {
  background-color: rgba(195, 65, 63, 0.527) !important;
  width: 13rem;
}

.recovered-card {
  background-color: rgba(91, 192, 235, 0.486) !important;
  width: 13rem;
}

.infected-card {
  background-color: rgba(154, 197, 61, 0.493) !important;
  width: 13rem;
}

.covid-graph {
  margin-top: 25px;
}

.country-select {
  text-align: center;
}

.country-select select {
  /* background-color:azure; */
}

.footer {
  margin-top: 25px;
  margin: 15px;
  text-align: center;
  font-size: 21px;
  font-family: Roboto;
}